<ion-content [fullscreen]="true">
  <div class="logo">
    <app-logo></app-logo>
  </div>
  <div class="cards">
    <ion-grid>
      <!-- Primera fila -->
      <ion-row>
        <!-- Primera tarjeta -->
        <ion-col size="6" size-md="6" size-lg="3" class="custom-card">
          <a href="https://github.com/mariscaldev">
            <ion-card class="card" color="medium">
              <div class="card-image-container">
                <img
                  alt="GMAIL"
                  src="../../../assets/iconos panel mariscaldev/github.svg"
                />
              </div>
              <ion-card-header>
                <ion-card-title>GITHUB</ion-card-title>
              </ion-card-header>
            </ion-card>
          </a>
        </ion-col>

        <!-- Segunda tarjeta -->
        <ion-col size="6" size-md="6" size-lg="3" class="custom-card">
          <a href="https://mail.google.com/mail/u/0/#inbox">
            <ion-card class="card" color="medium">
              <div class="card-image-container">
                <img
                  alt="GMAIL"
                  src="../../../assets/iconos panel mariscaldev/gmail.svg"
                />
              </div>
              <ion-card-header>
                <ion-card-title>GMAIL</ion-card-title>
              </ion-card-header>
            </ion-card>
          </a>
        </ion-col>

        <!-- Tercera tarjeta -->
        <ion-col size="6" size-md="6" size-lg="3" class="custom-card">
          <a href="https://www.gmx.es/">
            <ion-card class="card" color="medium">
              <div class="card-image-container">
                <img
                  alt="GMAIL"
                  src="../../../assets/iconos panel mariscaldev/gmx.svg"
                />
              </div>
              <ion-card-header>
                <ion-card-title>GMX</ion-card-title>
              </ion-card-header>
            </ion-card>
          </a>
        </ion-col>

        <!-- Cuarta tarjeta -->
        <ion-col size="6" size-md="6" size-lg="3" class="custom-card">
          <a href="https://www.linkedin.com/in/raulmariscaldev/">
            <ion-card class="card" color="medium">
              <div class="card-image-container">
                <img
                  alt="GMAIL"
                  src="../../../assets/iconos panel mariscaldev/linkedin.svg"
                />
              </div>
              <ion-card-header>
                <ion-card-title>LINKEDIN</ion-card-title>
              </ion-card-header>
            </ion-card>
          </a>
        </ion-col>
      </ion-row>

      <!-- Segunda fila -->
      <ion-row>
        <!-- Sexta tarjeta -->
        <ion-col size="6" size-md="6" size-lg="3" class="custom-card">
          <a href="https://www.reddit.com/user/mariscaldev">
            <ion-card class="card" color="medium">
              <div class="card-image-container">
                <img
                  alt="GMAIL"
                  src="../../../assets/iconos panel mariscaldev/reddit.svg"
                />
              </div>
              <ion-card-header>
                <ion-card-title>REDDIT</ion-card-title>
              </ion-card-header>
            </ion-card>
          </a>
        </ion-col>

        <!-- Séptima tarjeta -->
        <ion-col size="6" size-md="6" size-lg="3" class="custom-card">
          <a href="https://twitter.com/MariscalDev">
            <ion-card class="card" color="medium">
              <div class="card-image-container">
                <img
                  alt="GMAIL"
                  src="../../../assets/iconos panel mariscaldev/twitter.svg"
                />
              </div>
              <ion-card-header>
                <ion-card-title>TWITTER</ion-card-title>
              </ion-card-header>
            </ion-card>
          </a>
        </ion-col>

        <!-- Octava tarjeta -->
        <ion-col size="6" size-md="6" size-lg="3" class="custom-card">
          <a href="url-octava-tarjeta">
            <ion-card class="card" color="medium">
              <div class="card-image-container">
                <img alt="GMAIL" src="../../../assets/avatar.png" />
              </div>
              <ion-card-header>
                <ion-card-title>WEBSITE</ion-card-title>
              </ion-card-header>
            </ion-card>
          </a>
        </ion-col>

        <!-- Novena tarjeta -->
        <ion-col size="6" size-md="6" size-lg="3" class="custom-card">
          <a href="https://www.youtube.com/">
            <ion-card class="card" color="medium">
              <div class="card-image-container">
                <img
                  alt="GMAIL"
                  src="../../../assets/iconos panel mariscaldev/youtube.svg"
                />
              </div>
              <ion-card-header>
                <ion-card-title>YOUTUBE</ion-card-title>
              </ion-card-header>
            </ion-card>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
