ion-content {
    position: relative;
    --ion-background-color: transparent;
  
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw; /* Cambiado a unidades vw */
        height: 100vh; /* Cambiado a unidades vh */
        background-image: url("../../../assets/background2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.6;
        filter: blur(10px);
        z-index: -1;
    }
}

.logo,
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh 0; /* Cambiado a unidades vh */
}

.cards .card-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh; /* Cambiado a unidades vh */
    max-height: 200px; /* Máximo 200px */
    overflow: hidden;
    position: relative;
}

.cards .card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-out;
}

.cards .card:hover .card-image-container img {
    transform: scale(1.1);
}

.cards .card {
    background-color: var(--ion-color-dark);
    transition: background-color 0.5s ease-out;
}

.cards .card:hover {
    background-color: var(--ion-color-micolor);
}

a {
    text-decoration: none;
}

ion-card-header {
    text-align: center;
}

ion-card-title {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.custom-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
