ion-content {
    position: relative; /* Agrega esta propiedad para permitir el posicionamiento del pseudoelemento ::before */
    --ion-background-color: transparent; /* Establece el fondo transparente */

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../assets/background.jpg"); /* Reemplaza "ruta/a/" con la ruta correcta donde se encuentra la imagen */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.6; /* Ajusta la opacidad, 1 es completamente opaco y 0 es completamente transparente */
        filter: blur(10px); /* Ajusta el desenfoque, cuanto mayor sea el valor, más desenfocado será */
        z-index: -1; /* Asegura que el pseudoelemento esté detrás del contenido */
    }
}
  
.logo,
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
}

.cards .card-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; /* Puedes ajustar esta altura según tus necesidades */
    overflow: hidden;
    position: relative;
}

.cards .card-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen sin distorsionarla */
    transition: transform 0.5s ease-out; /* Agrega la transición aquí */
}

.cards .card:hover .card-image-container img {
    transform: scale(1.1);
}

.cards .card {
    transition: background-color 0.5s ease-out;
}

.cards .card:hover {
    background-color: red;
}

a {
    text-decoration: none;
}

ion-card-header{
    text-align: center;
}

ion-card-title{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.custom-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
