// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-background-color: #111010;
	--ion-background-color-rgb: 17,16,16;

	--ion-text-color: #fff;
	--ion-text-color-rgb: 255,255,255;

	--ion-color-step-50: #1d1c1c;
	--ion-color-step-100: #292828;
	--ion-color-step-150: #353434;
	--ion-color-step-200: #414040;
	--ion-color-step-250: #4d4c4c;
	--ion-color-step-300: #585858;
	--ion-color-step-350: #646464;
	--ion-color-step-400: #707070;
	--ion-color-step-450: #7c7c7c;
	--ion-color-step-500: #888888;
	--ion-color-step-550: #949393;
	--ion-color-step-600: #a09f9f;
	--ion-color-step-650: #acabab;
	--ion-color-step-700: #b8b7b7;
	--ion-color-step-750: #c4c3c3;
	--ion-color-step-800: #cfcfcf;
	--ion-color-step-850: #dbdbdb;
	--ion-color-step-900: #e7e7e7;
	--ion-color-step-950: #f3f3f3;

  /** primary **/
	--ion-color-primary: #9a27f7;
	--ion-color-primary-rgb: 154,39,247;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #8822d9;
	--ion-color-primary-tint: #a43df8;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
	--ion-color-dark: #5C5C5C;
	--ion-color-dark-rgb: 92,92,92;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #515151;
	--ion-color-dark-tint: #6c6c6c;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  /** MI COLOR PERSONALIZADO **/
  --ion-color-micolor: #ff0303;
	--ion-color-micolor-rgb: 255,3,3;
	--ion-color-micolor-contrast: #ffffff;
	--ion-color-micolor-contrast-rgb: 255,255,255;
	--ion-color-micolor-shade: #e00303;
	--ion-color-micolor-tint: #ff1c1c;
}
  /** MI COLOR PERSONALIZADO **/
.ion-color-micolor {
	--ion-color-base: var(--ion-color-micolor);
	--ion-color-base-rgb: var(--ion-color-micolor-rgb);
	--ion-color-contrast: var(--ion-color-micolor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-micolor-contrast-rgb);
	--ion-color-shade: var(--ion-color-micolor-shade);
	--ion-color-tint: var(--ion-color-micolor-tint);
}