@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #111010;
}

header{
    height: 400px;
    width: 100vw;
    background-color: #111010;
}
header .fondo{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.navbar{
    display: block;
    position: absolute;
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
}

.navbar .logo{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    color: #ff0303;
}
.navbar .logo:hover{
    color: #fff;
}

.navbar .nav-links ul{
    display: flex;
}
.navbar .nav-links ul li{
    margin: 0 20px;
}
.navbar .nav-links ul li .active{
    color: #ff0303;
}

.navbar .nav-links ul a{
    color: #fff;
}
.navbar .nav-links ul a:hover{
    color: #ff0303;
    transition: 0.3s;
}

.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 22px;
    right: 12px;
    width: 35px;
}

@media screen and (max-width: 900px) {
    .navbar{
        padding: 0;
        background-color: rgba(17, 16, 16, 0.20);
        backdrop-filter: blur(10px);
    }
    .navbar .logo{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .navbar .menu-hamburger{
        cursor: pointer;
        display: block;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(17, 16, 16, 0.20);
        backdrop-filter: blur(10px);
        width: 100%;
        height: 42vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-left: 0;
    }
    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navbar .nav-links ul li{
        margin: 25px 0;
        font-size: 1.2em;
    }

}
.main-content{
    background-color: #3d3c3c;
    border-radius: 1em 1em 0 0;
    margin: 2em 5em 0 5em ;
}
.main-content .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    padding: 0 0px;
}
.main-content .container .card-container{
    display: flex;
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, .2);
}
.main-content .container .card-container .header{
    border-right: 1px solid #ddd;
}
.main-content .container .card-container .descripcion{
    background: #fbfbfb;
}
.main-content .container .card-container .header, .descripcion{
    padding: 20px 20px;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.main-content .container .card-container .header a{
    position: relative;
    display: block;
}
.main-content .container .card-container .header img{
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(0, 0, 0, .06);
    width: 90%;
    height: 90%;
    margin-top: 20px;
}
.main-content .container .card-container .header a:hover img{
    box-shadow: 0 0 0 12px rgba(0, 0, 0, .1);
}
.main-content .container .card-container .header h2{
    margin-top: 30px;
    font-weight: bold;
    color: #ff0303;
}
.main-content .container .card-container .header h4{
    margin-bottom: 20px;
}
.main-content .container .card-container .descripcion{
    position: relative;
}
.main-content .container .card-container .descripcion p{
    text-align: justify;
    margin: 20px 30px;
}
.main-content .container .card-container .descripcion h1{
    color: #ff0303;
    font-weight: bold;
}
.main-content .container .card-container .descripcion .myprofile{
    margin-top: 25px;
}
.main-content .container .card-container .descripcion .myprofile button{
    background-color: #ff0303;
    border-radius: 7px;
    color: #fff;
    font-size: 1em;
    border-style: none;
    padding: 7px 20px;
    cursor: pointer;
}
.main-content .container .card-container .descripcion .myprofile button:hover{
    color: #111010;
}

@media (max-width:900px){
    .main-content .container .card-container{
        display: block;
        border: 0;
        padding-bottom: 1em;
    }
    .main-content .container .card-container.card-container .header{
        padding: 20px 20px 5px 20px;
        border: none;
        margin-top: 0;
    }
    .main-content .container .card-container .descripcion{
        padding: 5px 20px 20px 20px;
        background: transparent;
    }
    .main-content .container .card-container .header h2{
        margin: 10px;
    }
    .main-content .container .card-container .header h4{
        margin: 0;
    }

}