body {
    background: #111010;
    text-align: center;
    align-items: center;
}

h1{
    color: #d0ccd1;
    margin-top: 4%;
    font-size: 70px;
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
}

table{
    padding: 0 5em;
    margin-top: 1em;
    width: 100%;
}

table td{
    padding: 1.5em 0;
}

table tr td a{
    text-decoration: none
}

table tr td img{
    border: 3px;
    border-color: #ff0303;
    padding: 2em;
}

table tr td h2{
    color: #d0ccd1;
}
table tr td h2:hover{
    color: #ff0303;
    transition: 0.8s;
}

footer{
    color: #d0ccd1;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 500px) {
    
}